body {
  background: #0f172a;
  color: white;
  font-family: sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  background: #020617;
  padding: 30px;
  border-radius: 12px;
  width: 320px;
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  border: none;
}

button {
  width: 100%;
  padding: 10px;
  background: #38bdf8;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

audio {
  margin-top: 15px;
  width: 100%;
}

a {
  display: block;
  margin-top: 10px;
  color: #38bdf8;
}
